.nav-enlace{
    background-color: #402F3F;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
.enlaces{
    color: white;
    // padding: 10px;
}
.enlaces2{
    color:#999985 ;
    padding: 10px;
    text-decoration: none;
.enlaces :checked{
color: white;
}
}
img{
    width: 30px;
}
.container-enlaces{
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: ;
    height: 50px;
}
.register-login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2{
    color: white;
    font-weight: bold;
}
.search{
    background-color:#332532 ;
    color: #999985;
}
.tittle-page{
    margin-right: 10px;
}