
<nav class="nav-enlace">
    <div class="container-enlaces">
    <div><img src="https://play-lh.googleusercontent.com/fJbHIg6QrqzVD18nUvHXDHA-l3X9FVz5qUNhESnKKRdCspaUnXt4L83eD7nnWZZyzw" alt=""></div>
    <h2 class="tittle-page">KITSU</h2>
    <a class="enlaces" routerLink="/">home</a>
    <a class="enlaces2" routerLink="/animes">animes</a>
</div>
    <div class="register-login">
     <input class="search"  type="text" placeholder="🔎Buscar en Kitsu">
    <a class="enlaces2" routerLink="/animes">Registrate</a>
    <a class="enlaces2" routerLink="/animes">Conectarse</a>
</div>
   </nav>
  <!-- para ir a la ruta de cualquier pagina de tu proyecto es con routerlink y /nombre de la tura-->
  