<div class="colum">
    
    <div class="div-title"> <h3>Animes populares esta semana</h3></div>
 <app-gallery class="divAnimeSemana" [list]="animes"></app-gallery>
 
    <div> <h3 class="div-title">Animes más populares en emisión</h3></div>
 <app-gallery class="divAnimeSemana" [populate]="animesPopulate"></app-gallery>



    <div> <h3 class="div-title">Animes más esperados</h3></div>
    <app-gallery class="divAnimeSemana" [awaited]="animesAwaited"></app-gallery>

    <div> <h3 class="div-title">Animes mejor evaluados</h3></div>

    <app-gallery class="divAnimeSemana" [points]="animesPoints"></app-gallery>

    <div> <h3 class="div-title">Animes más populares</h3></div>

<app-gallery class="divAnimeSemana" [mostPopular]="mostPopular"></app-gallery>
